<div class="input-group-btn select" crn-combobox ng-model="">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="selected">{{selectedItem}}</span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu option active" role="menu">
      <li crn-value="" value="item1" class="combo-item"> <a><div data-container="true">Item 1</div> </a></li>
      <li crn-value="" value="item2" class="combo-item"> <a><div data-container="true">Item 2</div> </a></li>
    </ul>
</div>