<table class="table  table-bordered table-hover" crn-datasource="Pessoa">
  <thead>
    <tr class="table-header">
      <th class="active"><div data-container="true">Column Header 1</div></th>
      <th><div data-container="true">Column Header 2</div></th>
    </tr>
  </thead>
    <tr class="table-content" ng-repeat="data in datasource.data">
      <td class="active"><div data-container="true">Column Content 2</div></td>
      <td><div data-container="true">Column Content 2</div></td>
    </tr>
  </tbody>
</table>