<!-- Sidebar Menu --> 
<div class="nav-side-menu"> 
  <div class="brand"> 
    <div data-container="true">Drag Your Content Here</div>
  </div> 
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i> 
  <div class="menu-list"> 
    <ul class="menu-content collapse out" > 
      <li data-toggle="collapse" data-target="#menu-sub-1" class="collapsed active component-holder" data-component="crn-sidebar-item"> 
        <a href="javascript:void(0);" class=""><i class="fa fa-users fa-lg"></i> <span>Menu Item</span> <span class="arrow"></span></a> 
        <ul class="sub-menu collapse" id="menu-sub-1"> 
          <li><a href="/#/home/admin/users">Submenu Item</a></li> 
        </ul>
      </li> 
    </ul> 
  </div> 
</div> 
<div ui-view="" class="main-view"> 
  <div class="" data-container="true"></div> 
</div>