body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
}

.container {
  bottom: 0;
  height: 300px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
}
.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;

  border-radius: 3px;         /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
  -webkit-border-radius: 3px; /* Safari and Chrome*/
  -moz-border-radius: 3px;    /* Firefox */

  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);         /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3); /* Safari and Chrome */
  -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);    /* Firefox */

}

.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login h1 {
  margin: -20px -20px 21px;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #FFF;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 278px;
}
.login p.esqueceu_senha {
  float: left;
  line-height: 31px;
}
.login p.esqueceu_senha label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.esqueceu_senha input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

a {
  color: #c9c9c9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.disabled {
   pointer-events: none;
   cursor: default;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: #FAFFBD;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}
input[readonly] {
  -webkit-box-shadow:0 0 0 50px #DCDCDC inset;
  box-shadow:0 0 0 50px #DCDCDC inset;
  -webkit-text-fill-color: #333;
  color: #333;
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit], input[type=button] {
  padding: 0 18px;
  height: 29px;
  width:105px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
input[type=submit]:disabled, input[type=button]:disabled {
  background-image: linear-gradient(to bottom, #C5C5C5, #FFFFFF);
  color: #8B8B8B;
}

.pulse {
  -webkit-animation: pulsate 2.5s infinite;
  animation: pulsate 2.5s infinite;
}

@-moz-keyframes pulsate
{
  50%  { color: #C5C5C5; text-shadow: 50 -1px 0 #444, 0 0 5px #EEE, 0 0 8px #8B8B8B; }
  100% { color: #527881; text-shadow: 50 -1px 0 #C5C5C5; }
}

@-webkit-keyframes pulsate
{
  50%  { color: #C5C5C5; text-shadow: 50 -1px 0 #444, 0 0 5px #EEE, 0 0 8px #8B8B8B; }
  100% { color: #527881; text-shadow: 50 -1px 0 #C5C5C5; }
}

@keyframes pulsate
{
  50%  { color: #C5C5C5; text-shadow: 50 -1px 0 #444, 0 0 5px #EEE, 0 0 8px #8B8B8B; }
  100% { color: #527881; text-shadow: 50 -1px 0 #C5C5C5; }
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}

.helpmsg {
  font-weight: bold;
  display: block;
}
/* ocultar cabecalho */
.head{
	display:none
}

/* ocultar rodapé */
.foot{
	display:none
}

/* passwordchg */
.passwordchg {
  text-align: center;
}

.warning {
  font-weight: bold;
  display: block;
  color: red;
}

.message {
  font-weight: bold;
  display: block;
}