<ion-modal-view>
  <ion-header-bar class="row bar-light" xattr-theme="bar-light" align-title="center">
    <h1 class="title text-right" data-component="crn-heading" ng-show="true" xattr-position="text-right">{{"Home.view.ChangePassword" | translate}}</h1>
    <button class="button button-positive button-clear" data-component="crn-button" ng-click="closeChangePassword()" xattr-type="button-clear"><i class=""></i><span>{{"Home.view.Close" | translate}}</span></button>
  </ion-header-bar>
  <ion-content class="scroll-content has-header" data-component="crn-ion-content">
    <form class="form-validation" autocomplete="off" name="form" role="form">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-asterisk placeholder-icon"></i>
          <input type="password" class="form-control" data-component="crn-input" id="oldPassword" placeholder="{{'Home.view.Old Password' | translate}}">
        </label>
        <label class="item item-input">
          <i class="icon ion-asterisk placeholder-icon"></i>
          <input type="password" class="form-control" data-component="crn-input" id="newPassword" placeholder="{{'Home.view.New Password' | translate}}">
        </label>
        <label class="item item-input">
          <i class="icon ion-asterisk placeholder-icon"></i>
          <input type="password" class="form-control" data-component="crn-input" id="newPasswordConfirmation" placeholder="{{'Home.view.Confirmation' | translate}}">
        </label>
      </div>
      <div class="list list-inset">
        <button class="button button-block button-positive" data-component="crn-button" ng-click="changePassword()" ng-disabled="form.$invalid || vm.dataLoading" xattr-size=""><i class=""></i><span>{{"Home.view.ChangePassword" | translate}}</span></button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>