<h3>User</h3> 
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder"> 
  <datasource filter="" name="User" entity="api/cronapi/crud/app.entity.User" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
</div> 
<div data-component="crn-button" id="crn-button-564202"> 
    <button class="btn btn-primary btn-fab k-button" type="submit" onclick="" data-component="crn-button" id="btn-crud-new9315" ng-click="User.startInserting()" ng-hide="User.inserting || User.editing"><span class="k-icon k-i-plus"></span></button>
</div> 
<div class="component-holder" data-component="crn-grid" id="crn-grid-User"> 
  <div crn-datasource="User" class="k-grid k-widget k-display-block k-grid-content" ng-hide="User.editing || User.inserting"> 
    <table class=""> 
      <thead> 
        <tr class="k-grid-header"> 
          <th class="k-header"> 
            <div class="crn-table-head">
              Email
            </div> </th> 
          <th class="k-header"> 
            <div class="crn-table-head">
              Nome
            </div> </th> 
          <th class="k-header"> 
            <div class="crn-table-head">
              Login
            </div> </th> 
          <th class="k-header"> 
            <div class="crn-table-head">
              {{"template.crud.actions" | translate}}
            </div> </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="" ng-repeat="rowData in datasource.data"> 
          <td class=""> 
            <div class="">
               {{rowData.email}} 
            </div> </td> 
          <td class=""> 
            <div class="">
               {{rowData.name}} 
            </div> </td> 
          <td class=""> 
            <div class="">
               {{rowData.login}} 
            </div> </td> 
          <td class=""> 
            <div class=""> 
                <button class="k-button k-button-icontext k-grid-edit" data-component="crn-button" type="submit" id="btn_crud_edit9315" ng-click="datasource.startEditing(rowData)"><span class="k-icon k-i-edit"></span></button>
                <button class="k-button k-button-icontext k-grid-delete" data-component="crn-button" type="submit" id="btn_remove_edit9315" ng-click="datasource.remove(rowData)"><span class="k-icon k-i-close"></span></button>
            </div> </td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked k-button" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
   
</div> 

<div data-component="crn-form" id="crn-form-form-User"> 
  <div class="form" ng-show="User.editing || User.inserting"> 
    <form crn-datasource="User" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
        <button class="btn btn-primary btn-fab k-button" data-component="crn-button" ng-click="datasource.startInserting()"><span class="k-icon k-i-plus"></span></button>
        <button class="btn btn-success btn-fab k-button" data-component="crn-button" ng-click="datasource.startEditing()"><span class="k-icon k-i-edit"></span></button>
        <button class="btn btn-primary btn-fab k-button" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><span class="k-icon k-i-arrow-chevron-left"></span></button>
        <button class="btn btn-primary btn-fab k-button" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><span class="k-icon k-i-arrow-chevron-right"></span></button>
        <button class="btn btn-primary btn-fab k-button" data-component="crn-button" ng-click="datasource.remove()"><span class="k-icon k-i-close"></span></button>
      </div>
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
        <button class="btn btn-success btn-fab k-button" id="btn_crud_post41107" data-component="crn-button" ng-click="datasource.post()"><span class="k-icon k-i-check"></span></button>
        <button class="btn btn-danger btn-fab k-button" id="btn_crud_cancel41107" data-component="crn-button" ng-click="datasource.cancel()"><span class="k-icon k-i-cancel"></span></button>
      </div>
      <br> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <div data-component="crn-textinput" id="crn-textinput-email"> 
          <div class="form-group"> 
            <label for="textinput-email" class="">Email</label> 
            <input type="text" ng-model="User.active.email" class="form-control k-textbox" id="textinput-email" placeholder="Email"> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-name"> 
          <div class="form-group"> 
            <label for="textinput-name" class="">Nome</label> 
            <input type="text" ng-model="User.active.name" class="form-control k-textbox" id="textinput-name" placeholder="Nome" required=""> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-login"> 
          <div class="form-group"> 
            <label for="textinput-login" class="">Login</label> 
            <input type="text" ng-model="User.active.login" class="form-control k-textbox" id="textinput-login" placeholder="Login" required=""> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-password"> 
          <div class="form-group"> 
            <label for="textinput-password" class="">Senha</label> 
            <input type="password" ng-model="User.active.password" class="form-control k-textbox" id="textinput-password" placeholder="Senha" required=""> 
          </div> 
        </div> 
        <!-- NtoN  --> 
        <!-- NtoN  end--> 
      </fieldset> 
    </form> 
    <form> 
      <fieldset> 
        <!-- OneToN --> 
        <!--query filter 1toN --> 
        <!-- query filter 1toN end--> 
        <div data-component="crn-datasource" class="component-holder"> 
          <datasource filter="" name="RoleGrid" enabled="{{User.editing || User.inserting}}" entity="api/cronapi/crud/app.entity.User/{{User.active.id}}/relation:user:Role" keys="id,user.id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="User" dependent-lazy-post-field="user"></datasource> 
        </div> 
        <button class="btn btn-primary btn-fab k-button" data-component="crn-button" onclick="$('#modalRoleGrid').modal('show');" ng-click="RoleGrid.startInserting();"><span class="k-icon k-i-plus"></span></button>
        <h2 class="lead component-holder text-left" xattr-position="text-left" data-component="crn-subtitle" id="crn-subtitle-931646">{{"Admin.view.Roles" | translate}}</h2> 
        <!--search 1toN--> 
        <!-- seach 1toN end--> 
        
        <div data-component="crn-textinput" id="crn-textinput-descricao"> 
          <div class="form-group"> 
            <div class="component-holder" data-component="crn-grid" id="crn-grid-RoleGrid"> 
              <div crn-datasource="RoleGrid" class="k-grid k-widget k-display-block k-grid-content"> 
                <table class=""> 
                  <thead> 
                    <tr class="k-grid-header"> 
                      <th class="k-header"> 
                        <div class="">
                          {{"Admin.view.Role" | translate}}
                        </div> </th> 
                      <th class="k-header"> 
                        <div class="">
                           {{"template.crud.actions" | translate}} 
                        </div> </th> 
                    </tr> 
                  </thead> 
                  <tbody> 
                    <tr class="table-content" ng-repeat="rowData in datasource.data"> 
                      <td> 
                        <div>
                           {{rowData.id}} 
                        </div> </td> 
                      <td> 
                        <div> 
                          <button class="k-button k-button-icontext k-grid-delete" data-component="crn-button" ng-click="datasource.remove(rowData)"><span class="k-icon k-i-close"></span></button> 
                        </div> </td> 
                    </tr> 
                  </tbody> 
                </table> 
                <div class="table-footer-controls"> 
                  <button class="btn btn-default btn-block btn-clicked k-button" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
                </div> 
              </div> 
            </div> 
          </div> 
        </div> 
        <!-- OneToOne  end --> 
      </fieldset> 
    </form> 
     
  </div> 
</div> 
<div class="modal fade" id="modalRoleGrid"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <form> 
        <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button> 
          <h4 class="modal-title">Função</h4> 
        </div> 
        <datasource name="AllRoles" entity="api/cronapi/security/roles" keys="AllRoles" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill="" data-component="crn-datasource" class="component-holder" id="crn-datasource-211673"></datasource>
        <div class="modal-body"> 
          <div class="list-group list-group-sm row"> 
            <div class="component-holder ng-binding ng-scope col-xs-12 col-sm-12 col-md-12 col-lg-12" data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-453587">
              <div class="form-group">
                <label for="">Função</label>
                <ui-select crn-datasource="AllRoles" ng-model="RoleGrid.active" ng-disabled="disabled" theme="bootstrap" class="crn-select" ng-required="false">
                  <ui-select-match placeholder="Select..." class="">
                    {{$select.selected.name}}
                  </ui-select-match>
                  <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                    <div class="">
                      {{rowData.name}}
                    </div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div> 
          </div> 
        </div> 
        <div class="modal-footer"> 
            <button class="btn btn-primary btn-fab k-button" data-component="crn-button" ng-click="RoleGrid.post();" onclick="(!RoleGrid.missingRequiredField()?$('#modalRoleGrid').modal('hide'):void(0))"><span class="k-icon k-i-check"></span></button>
            <button class="btn btn-default btn-fab k-button" type="button" data-component="crn-button" data-dismiss="modal"><span class="k-icon k-i-close"></span></button>
        </div> 
      </form> 
    </div> 
  </div> 
</div>