.upload-image-component{
  padding: 8px;
}

.upload-image-component{
  max-height: 128px;
  max-width: 128px;
  background-color: #ccc;
  display: table;
}

.upload-image-component .remove{
  border-radius: 12px;
  position: absolute;
  margin-top: -8px;
  margin-left: -15px;
}

.upload-image-component .remove span{
  margin-top: 3px;
}
