<ion-view cache-view="false" view-title="{{'Permission.view.Permission' | translate}}"> 
    <ion-nav-buttons side="primary">
      <button class="button button-stable" ng-hide="Permission.inserting || Permission.editing" ng-click="Permission.startInserting()">
          <i class="icon ion-plus-round"></i> 
      </button>
    </ion-nav-buttons>
  <ion-content> 
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-763276"> 
      <datasource name="Permission" entity="api/rest/security/Permission" keys="id" rows-per-page="100" class=""></datasource> 
    </div> 
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-493153"> 
      <datasource name="AllRoles" entity="api/rest/security/Role" keys="id" rows-per-page="100" class=""></datasource> 
    </div> 
    <div crn-datasource="Permission" class="table-responsive panel panel-primary" ng-hide="Permission.editing || Permission.inserting"> 
      <ion-list can-swipe="listCanSwipe"> 
        <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)"> 
          <h2>{{rowData.path}}</h2> 
          <p>{{rowData.verb}}</p> 
          <ion-option-button class="button-positive" ng-click="datasource.startEditing(rowData)"> 
            <i class="icon ion-edit"></i> 
          </ion-option-button> 
          <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
             &nbsp; 
            <i class="icon ion-trash-a"></i> 
          </ion-option-button> 
        </ion-item> 
      </ion-list> 
    </div> 
    <div ng-show="Permission.editing || Permission.inserting"> 
      <form crn-datasource="Permission"> 
        <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
          <div class="list"> 
            <label class="item item-input item-select"> 
              <div class="input-label">
                 {{'Permission.view.Role' | translate}} 
              </div> <select crn-datasource="AllRoles" ng-model="Permission.active.role.id"> <option ng-repeat="rowData in datasource.data" value="{{rowData.id}}">{{rowData.name}}</option> </select> </label> 
            <label class="item item-input item-select"> 
              <div class="input-label">
                 {{'Permission.view.Verb' | translate}} 
              </div> <select crn-datasource="[{'key': 'ALL','value':'ALL'}, {'key': 'GET','value':'GET'},{'key': 'POST','value':'POST'}, {'key': 'PUT','value':'PUT'}, {'key': 'DELETE','value':'DELETE'}, {'key': 'OPTIONS','value':'OPTIONS'}]" ng-model="Permission.active.verb"> <option ng-repeat="rowData in datasource.data" value="{{rowData.key}}">{{rowData.value}}</option> </select> </label> 
            <label class="item item-input item-stacked-label"> <span class="input-label">{{'Permission.view.Path' | translate}}</span> <input type="text" placeholder="{{'Permission.view.Path' | translate}}" ng-model="Permission.active.path" id="textinput-path"> </label> 
            <label class="item item-input item-stacked-label"> <span class="input-label">{{'Permission.view.Exclude' | translate}}</span> <input type="text" placeholder="{{'Permission.view.Exclude' | translate}}" ng-model="Permission.active.exclude" id="textinput-exclude"> </label> 
            <label class="item item-input item-stacked-label"> <span class="input-label">{{'Permission.view.Priority' | translate}}</span> <input type="text" placeholder="{{'Permission.view.Priority' | translate}}" ng-model="Permission.active.priority" id="textinput-priority"> </label> 
          </div> 
          <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle"> 
            <div class="bar bar-footer"> 
              <div class="button-bar"> 
                <a class="button button-stable" ng-show="Permission.inserting || Permission.editing" ng-click="datasource.cancel()"> {{'Permission.view.Voltar' | translate}} </a> 
                <a class="button button-positive" ng-hide="Permission.inserting || Permission.editing" ng-click="datasource.post()"> {{'Permission.view.Salvar' | translate}} </a> 
              </div> 
            </div> 
          </div> 
        </fieldset> 
      </form> 
    </div> 
  </ion-content> 
</ion-view>