<form class="form-horizontal">
  <!-- Items List -->
  <div class="form-group">
    <label for="{{property.name}}" class="col-xs-4 control-label">Active</label>
	  <div class="col-xs-5">
      <select class="form-control input-sm" ng-model="active" ng-options="item for item in items"></select>
    </div>
  </div>
  <div class="form-group" ng-repeat="item in items track by $index">
    <label class="col-xs-4 control-label">#{{$index + 1}}</label>
	  <div class="col-xs-5">
      <input  type="text" ng-model="item" class="form-control input-sm" />
    </div>
    <i class="glyphicon glyphicon-arrow-up" ng-click="moveUp($index)" ng-hide="$index === 0"></i>
    <i class="glyphicon glyphicon-arrow-down" ng-click="moveDown($index)" ng-hide="($index + 1) === items.length"></i>
    <i class="glyphicon glyphicon-remove" ng-click="removeItem(item)"></i>
  </div>
  <div class="form-group">
    <label class="col-xs-4 control-label">New tab ID</label>
	  <div class="col-xs-5">
      <input  type="text" ng-model="newItem" class="form-control input-sm" placeholder="New Tab" />
    </div>
    <i class="glyphicon glyphicon-ok" ng-click="addItem()"></i>
  </div>
</form>