<form class="form-horizontal" ng-controller=InspectorDatasourceFieldController>
  <!-- Datasource List -->
  <div class="form-group">
	    <label class="col-xs-4 control-label">Datasource</label>
      <div class="input-group col-xs-6">
      	<input  type="text" 
      			ng-model="datasource"
      			ui-autocomplete="datasourceOpts"
      			class="form-control input-sm"
      			ng-change="selectDatasource()"
      	/>
      	<div class="input-group-btn">
        		<button type="button" ng-click="suggestText($event)" class="btn btn-sm btn-default dropdown-toggle">
        			<span class="caret"></span>
        		</button>
        	</div>
      </div>
  </div>
  
    <!-- Datasource Field List -->
  <div class="form-group">
    <label class="col-xs-4 control-label">Field</label>
    <div class="input-group col-xs-6">
    	<input  type="text" 
    			ng-model="field"
    			ui-autocomplete="fieldlistOpts"
    			class="form-control input-sm"
    			filteredBy="datasource"
    	/>
    	<div class="input-group-btn">
      		<button type="button" ng-click="suggestText($event)" class="btn btn-sm btn-default dropdown-toggle">
      			<span class="caret"></span>
      		</button>
      	</div>
    </div>
  </div>
</form>