<div class="" data-container="true"></div>
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="cronos-datasource" id="cronos-datasource-936491">
  <datasource name="Pessoa" entity="Pessoa" key="id" /></datasource>
</div>
<div class="" data-container="true"></div>

 <cronos-table
  dataset="Pessoa"
     headers = "['id', 'Nome', 'Sobrenome']"
     fields = "['id', 'nome', 'sobrenome']">
 </cronos-table>
 
 <div class="" data-container="true"></div>

 <div class="sidebar animate" ng-class="{visible: Pessoa.editing || Pessoa.inserting}">
  <h2>Pessoa</h2>
  <form>
    <button type="submit" class="btn btn-sm btn-primary" ng-click="Pessoa.previous()" ng-disabled="!Pessoa.hasPrevious()">Anterior</button>
    <button type="submit" class="btn btn-sm btn-primary" ng-click="Pessoa.next()" ng-disabled="!Pessoa.hasNext()">Próximo</button>
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" class="form-control" id="nome" ng-model="Pessoa.active.nome">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Sobrenome</label>
      <input type="text" class="form-control" id="enabled" ng-model="Pessoa.active.sobrenome">
    </div>
  </form>
  <button type="button" class="btn btn-default" ng-click="Pessoa.post()">Gravar</button>
  <button type="button" class="btn btn-default" ng-click="Pessoa.cancel()">Fechar</button>
 </div>