<div class="login-full">
  <div class="login-container container" data-container="true" style="width: 360px">
    <div class="m-b-lg">
      <div class="login-header">
        <div class="" data-container="true"></div><div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-image" id="crn-image-880856"><img src="img/techne.png" class="" width="" height="50"></div><div class="" data-container="true"></div>
      </div>
      <form class="form-validation" autocomplete="off" name="form" ng-submit="vm.login()" role="form"> 
        <div class="text-danger wrapper text-center" ng-show="authError">
            
        </div>
        <div class="list-group list-group-sm">
          <div class="list-group-item">
           <input type="text" class="form-control no-border" id="username" placeholder="Username">
          </div>
          <div class="list-group-item">
             <input type="password" class="form-control no-border" id="password" placeholder="Password"> 
          </div>
        </div>
        <div data-container="true" class=""></div>
        <div class="messages">
          <div data-container="true" class=""></div>
          <div ng-show="form.username.$dirty &amp;&amp; form.username.$error.required" class="help-block">Username is required</div> 
          <div data-container="true" class=""></div>
          <div ng-show="form.password.$dirty &amp;&amp; form.password.$error.required" class="help-block">Password is required</div> 
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid || vm.dataLoading">Login</button>
        <div data-container="true" class=""></div>
        <div class="row omb_row-sm-offset-3 omb_socialButtons"> 
          <div class="col-xs-4 col-sm-2"> 
            <a href="#" ng-click="vm.goto('/oauth2?idp=facebook')"><img src="img/facebook.png" class="zoom-button"></a> 
          </div> 
          <div class="col-xs-4 col-sm-2" style="text-align:center"> 
            <i class="fa fa-twitter visible-xs"></i> 
            <a href="#" ng-click="vm.goto('/oauth2?idp=github')"><img src="img/github.png" class="zoom-button"></a> 
          </div> 
          <div class="col-xs-4 col-sm-2" style="text-align:right"> 
            <i class="fa fa-google-plus visible-xs"></i> 
            <a href="#" ng-click="vm.goto('/oauth2?idp=google')" class=""><img src="img/google.png" class="zoom-button"></a> 
          </div> 
          <div class="" data-container="true"></div>
        </div> 
      </form>
    </div>
    
  </div>
</div>