html, body {
	height: 100%;
}

body {
	margin: 0;
}

.animate {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.sidebar {
  width: 260px; 
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #FFF;
  padding: 10px;
  border-left: 1px solid #ccc;
  z-index: 999;

  -webkit-transform: translate3d(0,-100%,0);
  -moz-transform: translate3d(0,-100%,0);
  -ms-transform: translate3d(0,-100%,0);
  -o-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.sidebar.visible {
  -webkit-transform: translate3d(0,0,0) !important;
  -moz-transform: translate3d(0,0,0) !important;
  -ms-transform: translate3d(0,0,0) !important;
  -o-transform: translate3d(0,0,0) !important;
  transform: translate3d(0,0,0) !important;
}