html, body {
	height: 100%;
}

body {
	margin: 0;
}

div[ng-view]{
  padding: 10px;
}

.table-footer-controls {
  margin-top: -20px;
}

.zoom-button:hover{
  -ms-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}

.animate {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.sidebar {
  width: 260px; 
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #FFF;
  padding: 10px;
  border-left: 1px solid #ccc;
  z-index: 999;

  -webkit-transform: translate3d(0,-100%,0);
  -moz-transform: translate3d(0,-100%,0);
  -ms-transform: translate3d(0,-100%,0);
  -o-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.sidebar.visible {
  -webkit-transform: translate3d(0,0,0) !important;
  -moz-transform: translate3d(0,0,0) !important;
  -ms-transform: translate3d(0,0,0) !important;
  -o-transform: translate3d(0,0,0) !important;
  transform: translate3d(0,0,0) !important;
}


/** login **/

/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	

.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}


	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}

/** login **/

/** home **/

.navbar {
    color: #fff;
    font-size: 13pt;
    background-color: #286090;
}

/** home **/




