<!-- Sidebar Menu --> 
<div class="nav-side-menu"> 
  <div class="brand"> 
    <div class="avatar hidden-xs hidden-sm"> 
      <img alt="" ng-src="{{vm.picture || 'img/nophoto.png'}}" class=""> 
    </div> 
    <div class="info"> 
      <div class="name">
         {{session.name}} 
      </div> 
      <div class="info-links"> 
        <a ng-click="logout()" class="">Logout</a> 
      </div> 
    </div> 
  </div> 
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i> 
  <div class="menu-list"> 
    <ul id="menu-content" class="menu-content collapse out"> 
      <li class=""> <a ui-sref="home" class=""> <i class="fa fa-home fa-lg"></i> Home </a> </li> 
      <li data-toggle="collapse" data-target="#admin-sub" class="collapsed active"> <a href="javascript:void(0);" class=""><i class="fa fa-users fa-lg"></i> Admin <span class="arrow"></span></a> </li> 
      <ul class="sub-menu collapse" id="admin-sub"> 
        <li><a href="#/home/admin/users">Users</a></li> 
        <li><a href="#/home/admin/roles">Roles</a></li> 
        <li><a href="#/home/admin/permission">Permission</a></li>
      </ul>
    </ul> 
  </div> 
</div> 
<div ui-view="" class="main-view"> 
  <div class="" data-container="true"></div> 
</div>